/* */
div {
  outline: blue dotted;
  outline-width: 1px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

input {
    margin-bottom: 4px;
}

.info_bubble {
    border-radius: 50%;
    background-color: rgb(98, 119, 239);
    height: 125px;
    width: 125px;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    transform: scale(0);
    transition: 
        transform 0.75s ease;
}

html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.scroll-row {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
}

.arrow-button {
  position: fixed;
  right: 1rem;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5rem;
  z-index: 10;
}

.arrow-button.up {
  top: 1rem;
  display: none;
}

.arrow-button.down {
  bottom: 1rem;
}