{% extends 'layout.html' %}

{% block title %}UK Tax Calculator{% endblock %}

{% block script %}<script type="module" src="../static/js/script.js" defer></script>{% endblock %}

{% block content %}

    <!-- main content -->
    <div class="container my-4">

        <div class="row">
            <div class="col text-center">
                <h1 class="text-center">UK Tax Calculator</h1>
            </div>
        </div>

        <div class="row m-2 justify-content-center">
            <div class="col-12 col-lg-4">
                <h2 class="my-4">Income taxes</h2>
                <form class="p-4 bg-light rounded" method="post" id="tax-form">
                    <div class="row align-items-end">
                        <div class="col">
                            <label class="form-label" for="income">Annual Income:</label>
                            <input class="form-control" id="income" name="income" required autocomplete="off" type="number">
                        </div>
                        <div class="col-2">
                           <button class="btn btn-primary" id="submit_income">Go</button>
                        </div>
                    </div>
                </form>
                <div class="mt-4 text-center align-items-start" id="tax_data_container" style="display: none; justify-content: space-evenly; align-items: center;">
                    <div style="max-width: 125px;">
                        <div class="info_bubble mb-2" id="total_tax"></div>
                        <p>Income tax + National Insurance</p>
                    </div>
                    <div>
                        <div class="info_bubble mb-2" id="overall_tax_rate"></div>
                        <p>Overall tax rate</p>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4 text-center mt-2">     
                <canvas id="pieChart" width="100" height="0"></canvas>
            </div>
        </div>
        
        <div class="row m-2 justify-content-center">
            <div class="col-12 col-lg-4">
                <h2 class="my-4">VAT</h2>
                <form class="p-4 bg-light rounded" id="vat-form">
                    <div class="mb-2">
                        <label class="form-label" for="month">How much do you spend in a month? (excluding energy and rent/mortgage)</label>
                        <input class="form-control" id="month" name="month" required autocomplete="off" type="number">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="groceries">Approximately how much of this is on groceries?</label>
                        <input class="form-control" id="groceries" name="other" required autocomplete="off" type="number">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="petrol">How much of this is on petrol?</label>
                        <input class="form-control" id="petrol" name="petrol" required autocomplete="off" type="number">
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="energy">How much do you spend on energy (gas and electricity) per month?</label>
                        <input class="form-control" id="energy" name="other" required autocomplete="off" type="number">
                    </div>
                    
                    <button class="btn btn-primary my-2" id="submit_vat">Go</button>
                </form>
            </div>
            <div class="col-12 col-lg-4 text-center pt-4">
                <h6 id="vat_header"></h6>
                <h4 id="vat_month"></h4>
                <h4 id="vat_year"></h4>
            </div>
        </div>

        <div class="row my-4">
            <div class="col text-center">
                <h3 id="income_and_vat"></h3>
                <p id="income_and_vat_note" ></p>
            </div>
        </div>

        <div class="row my-4 justify-content-evenly">
            <div class="col-12 col-lg-4">
                <h2 id="spending_header" class="my-2"></h2>
            </div>
            <div class="col-12 col-lg-4"></div>
        </div>

        <div class="row my-4 justify-content-evenly">
            <div class="col-12 col-md-6">
                <canvas id="spendingChart" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
    
{% endblock %}